.backgroud {
  width: 276px;
  height: 126px;
  padding: 12px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile {
  width: 270px;
  height: 80px;
  cursor: pointer;
  transform: translateY(-48px);
}
